* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: roboto, helvetica neue, sans-serif;
	background: #f8f8f8;
}



.view {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	padding: 1rem;

	transition: .3s ease-in-out;
}

.view-gallery {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;

	background-color: #000;

	overflow: hidden;
}



.unit {
	width: calc(50vw - 1.25rem);
	height: calc(50vw - 1.25rem);
	
	margin-bottom: .5rem;
}



.frame {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	overflow: hidden;

	background: pink;

	transition: transform .3s ease-in-out, background-color .3s ease-in-out;
}

.frame-selected {
	z-index: 1;
}

.frame-noAnimate {
	transition: none;
}

.view-gallery .frame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;

	background: #000;
}


/*
	Note that there is a really cool animation if we wait a moment for the
	other pictures to slide off first. Revisit later.
*/


.frame img {
	width: calc(50vw - 1.25rem);
	height: calc(50vw - 1.25rem);
	object-fit: cover;
	transition: .3s .1s ease-in-out;
}

.view-gallery img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
