body {
	background-color: #eee;
	
	margin: 0;

	font-size: 1em;
}

.grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	padding: 1em;
}

.thumbnail {
	background-color: #fff;
	
	width: calc(50vw - 1.25rem);
	height: calc((50vw - 1.25rem) * .75);

	margin-bottom: .5rem;

	object-fit: cover;
}